.editLink {
  color: black;
  text-decoration: none;
}

.editLink:visited {
  color: black;
  text-decoration: none;
}

.editLink:hover {
  text-decoration: underline;
}

.esContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.exportDiv {
  display: flex;
  justify-content: center;
}

.exportBtn {
  margin-top: 15px;
}

.exportBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 100px;
  border: 1px solid #0284b1;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0284b1;
  color: white;
  font-size: 14px;
  background-image: linear-gradient(-180deg, #0387fa, #0284b1, 90%);
}

.exportBtn:hover {
  border: 1px solid #02659e;
  background-image: linear-gradient(-180deg, #0284b1, #02659e 90%);
}

.esInput {
  margin-bottom: 10px;
}

.esForm {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.esInput input {
  width: 250px;
}
