.FormWrapper {
  display: flex;
  justify-content: space-between;
}

.FormWrapper button {
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  width: 75px;
}

.Name {
  width: 235px;
}

.FieldCount {
  margin-right: 55px;
  width: 130px;
}

.Edit {
  margin-left: 10px;
}
.Edit:hover {
  color: white;
  border-color: #283e48;
  background-color: #283e48;
}

.Delete {
  color: #b50707;
  border-color: #b50707;
}
.Delete:hover {
  background-color: #b50707;
  color: white;
}
