.FormWrapper {
  display: flex;
  justify-content: space-between;
}

.FormWrapper button {
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  width: 75px;
}

.Name {
  width: 235px;
}

.FieldCount {
  margin-left: 20px;
  width: 130px;
}

.Edit {
  margin-left: 10px;
}
.Edit:hover {
  color: white;
  border-color: #283e48;
  background-color: #283e48;
}

.Delete:hover {
  color: red;
  border-color: red;
}
