.Nav {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    border: 1px solid black;
    margin: 10px;
}

.NavLink {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    border: 1px solid black
}

.NavLink:hover,
.NavLink:active,
.NavLink.active {
    background-color: lightblue;
}